 /***header2----------------------------------------------------------*/


    .header2.header2-show {
 
  transform: translateY(0%);
 
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

    .header2.header2-hide {
    transform: translateY(-100%);
    transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

    .header2 {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #fff;
  z-index: 888;
  height: 60px;
  text-align: center;
}

    .header2 .container {
  background-color: #fff;
  border-bottom: rgba(0,0,0,0.05) 1px solid;
  height: 100%;
  padding: 0 15px;
}

    .clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

    .logo-wrap {
  float: left;
  display: inline-block;
  margin-top: 17px;
}
    .logo-wrap .logo {
  float: left;
  margin-top: -13px;
}
    .logo-wrap .logo img {
  /* width: 150px; */
  height: 50px;
}
    .global-nav {
  float: left;
  margin-left: 5%;
  font-size: 14px;
}

    .global-nav .main-menu {
  margin-top: 5px;
}
.global-nav > ul {
  text-align: left;
}

.global-nav > ul > li {
  position: relative;
  float: left;
}

.global-nav > ul > li > a {
  display: block;
  padding: 0 25px;
  height: 55px;
  line-height: 61px;
}
.dropdown {
  position: relative;
}

.dropdown-menu {
  padding: 20px;
  position: absolute;
  top: 54px;
  left: 0px;
  background: #fff;
  /* padding: 7px 7px 7px 1px; */
  border: 1px solid rgba(26,53,71,.12);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(26,53,71,.1);
  opacity: 0;
  zoom: 1;
  pointer-events: none;
  transform: scale(.8) translateY(-30%);
  transition: .4s cubic-bezier(.3, 0, 0, 1.3);
  z-index: 111;
}


.channel {
    width: 400px;
}
.clearfix::after {
    clear: both;
}
.sort .title {
    margin-top: 0px;
}
.channel .title {
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}
.channel ul li {
    float: left;
}
.channel ul li a {
    padding: 0px;
    height: auto;
    line-height: normal;
}

.nav-dropdown .dropdown-menu::before {
    left: 50px;
}
.dropdown-menu::before {
    content: "";
    position: absolute;
    top: -7px;
    left: calc(50% - 7px);
    width: 13px;
    height: 7px;
    background: transparent url("http://cdn.pingwest.com/wp-content/themes/pingwest2014/images/dropdown-menu-arrow.svg") repeat scroll 0% 0%;
}

.channel ul li a::after {
    content: "";
    width: 1px;
    height: 12px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.15) none repeat scroll 0% 0%;
    margin: 0px 15px;
}

.right-bar {
  font-size: 0px;
  float: right;
  color: rgba(0,0,0,0.3);
  position: absolute;
  top: 0px;
  right: 60px;
  background: #fff;
  /* height: 100%; */
  margin-top: 5px;
}

.clearfix:after {
  visibility: hidden;
  font-size: 0;
  height: 0;
}

.dropdown-menu.visible {
    opacity: 1;
    pointer-events: auto;
    transform: none;
}

.nav-dropdown .dropdown-menu::before {
    left: 50px;
}

.nav-events-item {
    position: relative;
    width: 250px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 10px 0px;
}
.nav-events-item b {
    display: block;
    padding-right: 70px;
}
b, strong {
    font-weight: bold;
}
.nav-events-item .meta {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    font-size: 13px;
}
.nav-events-item .status {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    font-size: 12px;
    right: 0px;
    top: 10px;
    padding: 3px 8px 1px;
}
.right-bar>ul>li {
  display: inline-block;
  float: left;
  height: 54px;
  line-height: 60px;
}

.right-bar>ul>li>a {
  font-size: 14px;
  height: 100%;
}
.right-bar .li-after:after {
  content: '';
  width: 1px;
  height: 16px;
  display: inline-block;
  background: rgba(0,0,0,0.15);
  margin: 0px 0px 0px 14px;
  position: relative;
  top: 2px;
}

.form-search {
  font-size: 14px;
  height: 100%;
  position: relative;
  /* border: #f00 1px solid; */
}
.form-search.active input {
  width: 230px !important;
  cursor: text;
}
.form-search .icon-search::before {
    float: right;
    margin-top: 22px;
    margin-right: 18px;
}
.right-bar .li-after::after {
    content: "";
    width: 1px;
    height: 16px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.15) none repeat scroll 0% 0%;
    margin: 0px 0px 0px 14px;
    position: relative;
    top: 2px;
}
.form-search.active input {
  width: 230px !important;
  cursor: text;
}
.form-search input {
  font-size: 12px;
  padding-left: 45px;
  border: none;
  height: 100%;
  line-height: 94%;
  background: transparent;
  transition: all .5s;
  box-sizing: border-box;
}

.form-search .icon-search {
  position: absolute;
  top: 20px;
  left: 10px;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  width: 16px;
  line-height: 1;

}
.has-drop-menu:after {
  content: " ";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 6px;
  vertical-align: middle;
  color: rgba(0,0,0,0.5);
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  position: relative;
  top: -1px;
}
